* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: url(uzH2Zlc.jpg);
    background-size:contain;
}

input {
    display: none;

}

.container {
    max-width: 100%;
    min-height: 100%;
    text-align: center;
   
}

h1 {
    position: relative;
    margin: 40px 0;
    font-size: 35px;
}

h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: red;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;

    }

    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }
}

.top {
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: auto;
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h3 {
    height: 100%;
    background-color: gray;
    line-height: 60px;
    padding-right: 50px;
    padding-left: 10px;
    color: white;

}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 50px;


}

.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 20px;
}

.pic {
    position: relative;
    height: 250px;
    box-shadow: 3px 3px 5px maroon;
    cursor: pointer;
    transition: .5s;
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.pic::before {
    content: "BISHWOKARMA FURNITURE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;

}

.pic::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s;

}

.pic:hover::after {
    height: 100%;
}

.pic:hover::before {
    margin-top: 0;
    opacity: 1;
}